body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f5f5f7;
    color: #333;
}

header {
    text-align: left;
    padding: 25px;
    background: #7e57c2;
    color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h2 {
    margin-top: 0;
    color: #FFC000;
}

select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #bbb;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 15px;
    background:#FFC000;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn:hover {
    background: #8b4000;
}

.hasil {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    animation: fadeIn 0.4s ease;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #555;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
/* Item solusi agar terlihat seperti tombol */
.solusi-item {
    padding: 12px;
    background: #C04000;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #FAC898;
    transition: 0.2s;
}

/* Efek hover */
.solusi-item:hover {
    background: #C04000;
}

.detail {
    display: none;
    margin-top: 10px;
    padding: 12px;
    background: #ffffff;
    border-left: 4px solid #A0522D;
    border-radius: 8px;
    font-size: 15px;
    animation: fadeIn 0.3s ease;
}
.show {
    display: block;
}
